<main>
  <h2>Użytkownicy</h2>
  <section class="users-containner">
    <div class="users-section">
      <div class="users-section__header">
        <div class="header">
          <h3>Lista użytkowników</h3>
        </div>
        <div class="buttons-in-header">
          <button
            (click)="addNewUser()"
            mat-raised-button
            color="primary"
          >
            <mat-icon>add</mat-icon> Dodaj nowego użytkownika
          </button>
        </div>
      </div>
      <div class="users-section__content">
        <app-users-table></app-users-table>
      </div>
    </div>
  </section>
</main>
