<div
  class="order-card"
  [ngClass]="{
    'green-border':
      (order.orderStartTime | convertToMinutes) <= 60 || undefined,
    'orange-border': (order.orderStartTime | convertToMinutes) > 60,
  }"
>
  <div class="card-header">
    <div class="header-text">Zamówienie {{ order.id }}</div>
    <div class="header-timer">
      @if (order.orderStartTime) {
        <p>{{ order.orderStartTime | convertToMinutes }} min. temu</p>
      }

      <mat-icon>timer</mat-icon>
    </div>
  </div>
  <div>Stolik: {{ order.tableNumber }}</div>
  <div class="card-body">
    <div class="progress">
      <p>Postęp: {{ progress | number: "1.0-0" }}%</p>
      <mat-progress-bar [value]="progress"></mat-progress-bar>
    </div>
    <div class="dishes-list">
      @for (dishInOrder of order.dishes; track $index) {
        <app-chef-list-dish-in-order-item
          [dishInOrder]="dishInOrder"
          [dishIdChanged]="dishIdChanged"
          (cookedToggled)="onCookedToggle($event)"
        >
        </app-chef-list-dish-in-order-item>
        <!-- @if (!dishInOrder.served) {
          <p>
            <mat-checkbox
              [checked]="dishInOrder.cooked"
              (change)="changeProgress($event.checked, dishInOrder.id)"
              >{{ dishInOrder.dish.name }}</mat-checkbox
            >
          </p>
        } @else {
          <p>
            <mat-checkbox
            disabled="true"
              [checked]="dishInOrder.cooked"
              >{{ dishInOrder.dish.name }}</mat-checkbox
            >
          </p>
        } -->
      }
    </div>
    <!-- <button mat-raised-button color="primary">Oznacz jako gotowe</button> -->
  </div>
</div>
