<main>
  <header>
    logo
    <!-- <button mat-icon-button (click)="drawer.toggle()">
      
      @if (isDrawerClosed) {
        <mat-icon>arrow_forward_ios</mat-icon>
      }@else {
        <mat-icon>arrow_back_ios</mat-icon>
      }
    </button> -->
  </header>

  <div class="container">
    <mat-drawer-container>
      <mat-drawer #drawer mode="side" opened (closed)="isDrawerClosed = true" (opened)="isDrawerClosed = false"> 
          <app-side-nav [drawer]="drawer" />
      </mat-drawer>
    </mat-drawer-container>


    <section class="content-container">
      <router-outlet></router-outlet>
    </section>
  </div>

</main>



 <!-- <mat-drawer-container>
  <mat-drawer #drawer mode="side" opened>
    <app-side-nav></app-side-nav>
  <div class="example-sidenav-content">
  </div>
  </mat-drawer>

  <mat-drawer-content>
    
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
 </mat-drawer-container> -->