<main>
  <h2>Zamówienia</h2>
  <section class="orders-containner">
    <header>
      <div class="container-header">
        <h3>Zamówienia do realizacji:
        @if (orders) {
          {{ orders.length }}
        }
      </h3>
      </div>
      <div class="new-order-button">
        <a
          routerLink="nowe-zamowienie"
          routerLinkActive="active"
          mat-stroked-button
          color="primary"
          >Nowe zamówienie</a
        >
      </div>
    </header>

    <div class="list-container">
      @if (!ordersLoaded) {
        <mat-spinner>
          
        </mat-spinner>
      }@else {
        @for (order of orders; track $index) {
          <app-order-panel
            [dishChanged]="dishChanged"
            [order]="order"
            (endOrder)="getOrders()"
          ></app-order-panel>
        }
      }

    </div>
  </section>
</main>
