nav{
    height: 100%;
    display: flex;
    user-select: none;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    
}
.nav-items-container{
    width: 90%;
}
.nav-item{
    cursor: pointer;
    margin: 10px 20px 10px 10px;
    &>a{
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;

        mat-icon{
            padding-right: 10px;
            padding-left: 5px;
        }
        &.active{
            background-color: rgb(238,241,243);
            width: 100%;
        }
    }
    &:hover{
        background-color: rgb(238,241,243);
    }
}

.drawer-button{
    position: absolute;
    z-index: 9999;
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        z-index: 9999;
    }
}