<main>
  <h2>Zamówienia</h2>
  <section class="orders-containner">
    <header>
      <div class="container-header">
        <h3>Lista twoich zamówień</h3>
      </div>
    </header>

    <div class="list-container">
      <div class="cards-row-container">
        @for (order of orders; track $index) {
          <app-order-card [order]="order"></app-order-card>
        }
        @for (order of orders; track $index) {
            <app-order-card [order]="order"></app-order-card>
          }
          @for (order of orders; track $index) {
            <app-order-card [order]="order"></app-order-card>
          }
          @for (order of orders; track $index) {
            <app-order-card [order]="order"></app-order-card>
          }
      </div>
    </div>
  </section>
</main>
