mat-form-field{
    width: 250px;
}

.category-control{
    margin-left: 15px;
}

mat-dialog-actions{
    height: 51%;
    margin-bottom: auto;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}