<div class="item">
  <div class="title">Nowe danie do wydania</div>
  <div class="content">
    Danie "Bułka z masłem" czeka na wydanie w zamówieniu nr 123
  </div>
</div>
<div class="item">
    <div class="title">Nowe danie do wydania</div>
    <div class="content">
      Danie "Bułka z masłem" czeka na wydanie w zamówieniu nr 123
    </div>
  </div>

  <div class="item">
    <div class="title">Nowe danie do wydania</div>
    <div class="content">
      Danie "Bułka z masłem" czeka na wydanie w zamówieniu nr 123
    </div>
  </div>

  <div class="item">
    <div class="title">Nowe danie do wydania</div>
    <div class="content">
      Danie "Bułka z masłem" czeka na wydanie w zamówieniu nr 123
    </div>
  </div>
  <div class="item">
    <div class="title">Nowe danie do wydania</div>
    <div class="content">
      Danie "Bułka z masłem" czeka na wydanie w zamówieniu nr 123
    </div>
  </div>

  <div class="item">
    <div class="title">Nowe danie do wydania</div>
    <div class="content">
      Danie "Bułka z masłem" czeka na wydanie w zamówieniu nr 123
    </div>
  </div>
  