:host {
  display: flex !important;
}

main {
  // top right bottom left
  margin: 0% 3% 3% 3%;
  color: rgb(78, 78, 78);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1;
}

.new-order__container {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);

  width: 100%;
  height: 100%;

  .dishes__container {
    padding: 0 1rem;
  }
  .cart__container {
    border-left: #e0e0e0 1px solid;
  }
}
.categories-button-group {
  margin-top: 1rem;
  min-height: 70px;

  display: flex;
  flex-direction: row;
  overflow-y: auto;

  & > button {
    width: 80px;
    height: 50px;
    min-width: 110px;
    margin-right: 15px;
  }
}
.dishes-list__container {
  max-height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 1rem;
}

mat-card {
  width: calc((100% - 2rem) / 3);
  height: 150px;

  .mat-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 15px;
    height: 10%;
  }

  .mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .mat-card-content-text {
      font-size: 1.2em;
    }
  }

  mat-card-actions {
    margin-top: auto;
  }
}
.card-header {
  max-width: 10vw;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) */
  padding: 0 0 0 0;
}

@media (max-width: 950px) {
  .new-order__container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .dishes__container {
    width: 100%;
  }
  .categories-button-group {
    max-width: 80vw;
  }
  .dishes-list__container {
  }
  .cart__container {
    border-left: none;
    border-top: 1px solid #e0e0e0;
  }
  .card-header {
    max-width: 20vw;
    font-size: 0.9rem;
  }
}
