main {
  // top right bottom left
  margin: 0 3% 3% 3%;
  color: rgb(78, 78, 78);
}

section {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 82vh;
}


header{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

mat-panel-title, mat-panel-description{
  color: #ff7b00
  // #83ff7f; - green
}