main {
  // top right bottom left
  margin: 0 3% 3% 3%;
  color: rgb(78, 78, 78);
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

section {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.orders-containner {
  overflow-y: hidden;
}
.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: auto;
  & > * {
    margin: 0 0 0.6rem 0;
  }
}
mat-expansion-panel{
  border: 1px solid #e0e0e0;
}

.orange-text {
  color: #ff7b00;
}
.green-text {
  color: #00b900;
}

.bold-text {
  font-weight: bold;
}
.elapsed-time {
  width: 200px;
  display: flex;
  align-items: center;
  mat-icon{
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  main {
    margin: 0 0.3rem;
  }
}