<h2 mat-dialog-title>Kategorie w menu</h2>
<mat-dialog-content>
  <div class="add-category" [hidden]="false">
    <form [formGroup]="newCategoryForm" (ngSubmit)="addNewCategory()">
      <mat-form-field>
        <mat-label>Nazwa kategorii</mat-label>
        <input  matInput formControlName="newCategoryName" />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Dodaj kategorię</button>

    </form>


  </div>
  <p>
    Przeciągnij i upuść kategorie, aby zmienić ich kolejność
  </p>
  @if (!dataLoaded) {
    <mat-spinner></mat-spinner>
  } @else {
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      @for (category of dishCategories; track $index) {
        <div cdkDrag [cdkDragData]="category">
          <app-category-item [category]="category"></app-category-item>
        </div>
      }
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
