<main>
  <h2>Witaj, {{ user?.name }}</h2>
  <section class="dashboard-container">
    <div class="left-side">
      <div class="left-side-upper-container">
        <div class="left-side__header">
          <h3>Najwięcej sprzedanych dań (ostatni tydzień)</h3>
        </div>
        <div class="left-side__content">
          <div>
            @if (chartLoaded && history) {
              <canvasjs-chart
                [options]="chartOptions"
                [styles]="{ width: '100%', height: '290px' }"
              ></canvasjs-chart>
            } @else if (history === false) {
              <p>Brak danych z ostatniego tygodnia</p>
            } @else {
              <mat-spinner></mat-spinner>
            }
          </div>
        </div>
      </div>
      <div class="left-side-lower-container">
        <div class="left-side__header">
          <h3>Pracownicy online</h3>
        </div>
        <div class="left-side-lower__content">
          <div class="employee-box">
            <div class="employee-box__img">
              <div class="img"><mat-icon>no_photography</mat-icon></div>
            </div>
            <div class="employee-box__info">
              <p>Jan Kowalski</p>
              <p>Stanowisko: Kelner</p>
            </div>
          </div>

          <div class="employee-box">
            <div class="employee-box__img">
              <div class="img">
                <mat-icon>no_photography</mat-icon>
              </div>
            </div>
            <div class="employee-box__info">
              <p>Jan Kowalski</p>
              <p>Stanowisko: Kelner</p>
            </div>
          </div>

          <div class="employee-box">
            <div class="employee-box__img">
              <div class="img"><mat-icon>no_photography</mat-icon></div>
            </div>
            <div class="employee-box__info">
              <p>Jan Kowalski</p>
              <p>Stanowisko: Kelner</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="right-side__content">
        <div class="grid-container">
          <div matRipple class="grid-item">
            <div class="header">
              <h4>Aktywne zamówienia:</h4>
              <p>{{ activeOrders }}</p>
            </div>
          </div>
          <div matRipple class="grid-item">
            <div class="header">
              <h4>Ilość stolików w restauracji:</h4>
              <p>{{ tablesQuantity }}</p>
            </div>
          </div>
          <div matRipple class="grid-item">
            <div class="header">
              <h4>Dzisiaj zamówień:</h4>
              <p>{{ ordersTodayQuantity }}</p>
            </div>
          </div>
          <div matRipple class="grid-item">
            <div class="header">
              <h4>Dań do zamówienia:</h4>
              <p>{{ dishesToOrder }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
